[D-BUS Service]
# X-WinCred-Libsecret=1
Name=org.freedesktop.secrets
SystemdService=wincred-libsecret.service
Exec=/usr/libexec/wincred-libsecret/wincred-libsecret-provider
