[Unit]
# X-WinCred-Libsecret=1
Description=WinCred-backed Freedesktop Secret Service
After=dbus.service

[Service]
Type=dbus
BusName=org.freedesktop.secrets
ExecStart=/usr/libexec/wincred-libsecret/wincred-libsecret-provider
Restart=on-failure
RestartSec=2
