[Unit]
# X-WinCred-Libsecret=1
Description=Restore the WSL Windows executable handler
After=systemd-binfmt.service
Before=multi-user.target
ConditionFileIsExecutable=/init

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'test -e /proc/sys/fs/binfmt_misc/WSLInterop || printf ":%s:M::MZ::/init:P\n" WSLInterop > /proc/sys/fs/binfmt_misc/register'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
