[Unit]
# X-WinCred-Libsecret=1
Description=Refresh WinCred Secret Service provider from Windows payload
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/wincred-libsecret/wincred-libsecret-refresh --refresh

[Install]
WantedBy=multi-user.target
